.sobreMi {
    background-image: url('../images/fondoSobreMi2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    margin: 0 !important;
    width: 100%;
}


.nombreDoctor {
    color: rgb(89, 160, 204);
    text-shadow: 0 0 0.2em rgb(240, 241, 245),0 0 0.2em rgb(240, 241, 245);
    /* color:darkblue;
    text-shadow: 0 0 0.2em rgb(35, 157, 176),0 0 0.2em rgb(35, 157, 176); */
    /* text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;   */
}

.listaCargos {
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; 
}
.estudios {
    color: #070A52;
}



.imagenDoctor {
    max-width: 250px;
   
}

.tituloEstudios {
    color: rgb(89, 160, 204);
    text-shadow: 0 0 0.2em rgb(240, 241, 245),0 0 0.2em rgb(240, 241, 245);
    /* color:darkblue;
    text-shadow: 0 0 0.2em rgb(35, 157, 176),0 0 0.2em rgb(35, 157, 176); */
    padding-top: 100px;
    /* text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; */
}

.divider {
   
        height: 4px;
        width: 30%;
        background-color: #b64869;
       
    
    }
